<style>
    .banner-container {
        margin: 0;
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }
    .banner-img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }   
</style>    

@section Banner {
    <div class="banner-container">
        <img src="~/Img/banner.png" alt="Logo" class="banner-img" />
    </div>
}

