@using CarRentalMoveZ.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="account-container">
    <div class="account-box" ">
        <h2 class="text-center">Change Password</h2>
        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" required />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-success w-100 p-2" style="background-color: #1E56A0; color: white;">
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none" mt-3>Back</a>
            </div>
        </form>

    </div>
</div>
